<app-container-wrapper>
@if(form.controls.email.errors){
  <pre> سسس{{ form.controls.email.errors | json }}</pre>
}
    <form class="d-flex flex-column gap-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="email"
            >
            @if(form.controls.email.touched && form.controls.email.errors?.['required'] ){
                <p class="text-danger"> please enter email</p>
            }

             @if(form.controls.email.touched && form.controls.email.errors?.['minlength']){
                <p class="text-danger"> charters should be bigger than 6 </p>
            }
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                formControlName="password"
            >
            @if (form.controls.password.touched && form.controls.password.errors?.['required']  ) {
              <p class="text-danger">please enter password</p>
            }
                 @if (form.controls.password.touched && form.controls.password.errors?.['minlength']  ) {
              <p class="text-danger">charters should be bigger than 8</p>
            }
          <!-- pass:  {{form.controls.password.value}} -->

        </div>
        <div class="form-group   mb-2">
            <label for="inputPassword2" class="sr-only">Re-Password</label>
            <input
                type="password"
                class="form-control"
                id="inputPassword2"
                placeholder="Password"
                formControlName="rePassword"
        >   
          <!-- repass:  {{form.controls.rePassword.value}} -->
          @if(form.controls.password.touched && form.controls.rePassword.touched && form.controls.rePassword.value !== form.controls.password.value){
                <p class="text-danger my-2">passwords Don't match</p>
          }@else{
````````<p class="text-success my-2">password matches</p>
          }
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">city</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file d-block my-2" id="exampleFormControlFile1">
        </div>


        <div>
            <label class="form-label">gender</label>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    id="exampleRadios1"
                    value="option1"
                    checked
                >
                <label class="form-check-label" for="exampleRadios1">
                    male
                </label>
            </div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    id="exampleRadios2"
                    value="option2"
                >
                <label class="form-check-label" for="exampleRadios2">
                    female
                </label>
            </div>
        </div>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck1"
            >
            <label class="form-check-label text-capitalize" for="defaultCheck1">
                accept terms and condition
            </label>
        </div>
        <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
</app-container-wrapper>
