<h3 class="mb-4 text-capitalize">please login</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">userName</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter your name"
        formControlName="userName">
      @if(userName.touched && userName.errors?.['required']){
      <p class="text-danger">this field is required</p>
      }
      <!-- {{email.errors | json}} -->
      @if(userName.touched && userName.errors?.['minlength']){
      <p class="text-danger"> charters should be more than 6</p>
      }
    </div>
      @if(userName.touched && userName.errors?.['email']){
      <p class="text-danger"> please enter valid userName</p>
      }

    <!-- :::: {{form.controls.email.errors| json}} -->
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="enter your password"
        formControlName="password" autocomplete="on">
      @if(password.touched && password.errors?.['required']){
      <p class="text-danger">this field is required</p>
      }
      @if(password.touched && password.errors?.['minlength']){
      <p class="text-danger">charters should be more than 6</p>
      }
    </div>
    <p class="text-danger">{{errorMsg}}</p>
@if(welcome){
  <div class="p-3 bg-sucess text-white"> {{welcome}}</div>
}
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid"> Login</button>
  </form>
  <p class="my-3 text-capitalize text-center">if you don't have account click here to <a routerLink="/register">Register</a></p>
