
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">
  <!-- email {{form.value | json}} -->
        @if(email.touched && email.errors?.['required']){
      <p class="text-danger">this field is required</p>
      }
      <!-- {{email.errors | json}} -->
      @if(email.touched && email.errors?.['minlength']){
      <p class="text-danger"> charters should be more than 6</p>
      }

      @if(email.touched && email.errors?.['email']){
      <p class="text-danger"> please enter valid email</p>
      }
   
</div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>

</form>


