<div class="container ">
  <button matButton="outlined" routerLink="/">back to home</button>
</div>
<div class>
  <div classs="row">
    <div class="col-lg-6">
      <div class="container my-5 todo-wrapper offset-lg-6">
        <mat-form-field class="w-100">
          <mat-label>add OR search task</mat-label>
          <input type="search" class="w-100" matInput placeholder="add task"
            (change)="checkInp()"
            [(ngModel)]="inputTask">
        </mat-form-field>
        <button (click)="addTodo()" class="btn-primary btn"
          [disabled]="inputTask == ''">ADD</button>
        <button (click)="valInput()" class="btn-secondary btn mx-2"
          [disabled]="inputTask == ''"
          [ngClass]="{'disabled': todoArray.length <= 1}">Search</button>

        <!--
                <app-todo-item></app-todo-item>
                <app-todo-item></app-todo-item> -->

      </div>
      <!-- <div class="container offset-lg-6">
        <h1>{{searchResult}}</h1>
      </div> -->
      <!-- <h1> {{inputTask}}</h1> -->
      @for (item of todoArray; track $index) {
      <!-- <h1>{{item.title| json}}</h1> -->
      @if (item.title !== "") {
      <app-todo-item [item]="item" (deleteItem)="deleteItem($event)"
        [listArray]="todoArray"
        [typedTodo]="inputTask"></app-todo-item>
      }

      @if(todoArray.length === 0){

      <h3 class="offset-lg-6">No todos Available !</h3>

      }

      }

      <!-- @empty {
              <div class="container">
                  <h1>No Available TODo</h1>
              </div>

            } -->

    </div>
  </div>
</div>